* {
  margin: 0;
  padding: 0;
  font-family: inter;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 8%;
  height: 50px;
}

.navbar ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
}

.navbar ul li a {
  text-decoration: none;
  color: #575757;
}

.nav-button {
  background-color: rgb(26, 49, 255);
  padding: 12px;
  color: white;
  border-radius: 10px;
  border: none;
  width: 188px;
  height: 48px;
}

.banner {
  background-image: url("./assets/banner.jpg");
  height: 786px;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 150px;
}

.banner-texts {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.banner-button {
  background-color: rgb(26, 49, 255);
  padding: 12px;
  color: white;
  border-radius: 10px;
  border: none;
  width: 210px;
  height: 60px;
  font-size: 20px;
}



.banner-texts h1 {
  font-size: 65px;
}

.speakers h1 {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  padding: 80px 0;
  margin-bottom: -36px;
}

.profile-card {
  background-color: #ffffff;
  border: 1px solid #e2e8f0;
  border-radius: 16px;
  width: 400px;
  overflow: hidden;
}

.card-image img {
  width: 100%;
  display: block;
}
.card-tag {
  color: #2563eb;
  font-size: 0.8rem;
}

.card-content {
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.card-name {
  margin-top: 8px;
  margin-bottom: 6px;
}
.card-role {
  margin-top: 0;
  margin-bottom: 0;
}

.speaker-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  margin: 0 auto;
  gap: 24px;
  max-width: 900px;
  padding: 0;
}

.faq-title {
  display: flex;
  justify-content: center;
  margin-top: 120px;
}

.faq {
  margin-left: 100px;

  padding: 70px;


}

.faq-p {
  margin-left: 15px;
  padding: 8px;
}

.separation {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.plans {
  height: 350px;
  width: 376.66px;
}


.plans {
  border: 0.5px solid rgb(222, 222, 222);

  border-radius: 12px;
  padding: 24px;
  max-width: 320px;
  margin: 16px 0;
}

.alignment {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.plans ul {
  font-size: 15px;
  color: 333333;
}

.plans ul li::marker {
  color: rgb(70, 70, 255);
}

.pro {
  background-color: #0d1b2a;
}
.pro-p {
  color: #93c5fd;
}
.pro p {
  color: white;
  opacity: 50%;
}
.pro h2 {
  color: white;
}

.pro ul li {
  color: white;
  opacity: 80%;
}

.team {
  background-color: #f8f9fb;
}

.plans  {
  display: flex;
  flex-direction: column;
  gap: 24px;

}

.plans button {
  border: 1px solid #2563EB;
  background-color: white;
  height: 45px;
  width: 300px;
  border-radius: 10px;
}

.pro button {
  background-color: #2563EB;
  color: white;
}

.team button {
  background-color: #f8f9fb;
}

.plans-title p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}