* {
  margin: 0;
  padding: 0;
  font-family: inter;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 8%;
  height: 50px;
}

.navbar ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
}

.navbar ul li a {
  text-decoration: none;
  color: #575757;
}

button {
  background-color: rgb(26, 49, 255);
  padding: 12px;
  color: white;
  border-radius: 10px;
  border: none;
  width: 188px;
  height: 48px;
}

.banner {
  background-image: url("./assets/banner.jpg");
  height: 786px;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 150px;
  
}

.banner-texts {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.banner-texts h1 {
    font-size: 65px;
}

.title {
    text-align: center;
    padding: 40px;
    font-size: 3rem;
}

.speakers-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  justify-content: center;
}


.card {
    border: 1px solid #e5e7eb;
  border-radius: 12px;
  overflow: hidden; 
  display: flex;
  flex-direction: column;
}

.card-image {
    position: relative;
    
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-texts {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 24px;
    text-align: left;
}

.profession {
    font-size: 12px;
    font-weight: 600;
    color: #1a31ff;
    
    
}

.name {
    font-size: 18px;
    font-weight: 700;
    color: #000000;
}

.speaker-role {
    font-size: 14px;
    color: #6b7280;
    font-weight: 400;
}

.speakers {
    padding: 60px 8%;
}

.card-image {
    height: 250px;
    overflow: hidden;
}